################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessAccessLayer/.vs/BusinessAccessLayer
/BusinessAccessLayer/bin/Debug/net8.0
/BusinessAccessLayer/obj
/DataAccessLayer/bin/Debug/net8.0
/DataAccessLayer/obj
/presentationLayer/bin/Debug/net8.0
/presentationLayer/obj
/.vs/EmployeeDirectory
/.vs/ProjectEvaluation
